<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>PAPER</title>
</head>
<h1>{{ question.question_text }}</h1>

<body>
    <p>
        <ul>
            <form action="{% url 'questoes/resposta' question.id %}" method="post">
                {% csrf_token %}
                <fieldset>
                    <legend>
                        <h1>{{ question.question_text }}</h1>
                    </legend>
                    <br> {{ question.alternativa1 }} </br>
                    <br> {{ question.alternativa2 }} </br>
                    <br> {{ question.alternativa3 }} </br>
                    <br> {{ question.alternativa4 }} </br>
                </fieldset>
                <input type="submit" value="Resposta">
            </form>
        </ul>
    </p>
</body>

</html>