{% load static %}

<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title style= "font-family: Arial"> PAPER</title>
  </head>
    <h1> PAPER - Plataforma de Aprendizagem Personalizada </h1>
    <body style="margin:20px 40px 20px 40px; background-color:orange">
      <p style="text-align:center">
      <br><img src="{% static 'questoes/teste.jpg' %}" alt="Imagem do Freepik" width="400" height="400"></br>
      </p>
      <p style="font-family: Arial; font-size:x-large; text-align:center"> Escolha de Habilidades</p>
    <p style="text-align:center">
      <form action="{% url 'questoes:lista' %}" method="post">
        {% csrf_token %}
      <label for="Hab"> Escolha uma habilidade para treinar</label>
      <select id="Hab" name="Hab">
          <option value ="Matemática" selected> Matemática</option>
          <option value ="Soma"> Soma</option>
          <option value ="Subtração"> Subtração</option>
        <input type="submit" value="Escolhi!">
      </select>
      <br><br/>
    </form>
    </p>  
  </body>
</html>