<h1>{{ question.question_text }}</h1>
<body>
    <form action="/questoes">
        {% csrf_token %}
        <fieldset>
            <legend><h1>{{ question.question_text }}</h1></legend>
            <br> {{ question.alternativa1 }} </br>
            <br> {{ question.alternativa2 }} </br>
            <br> {{ question.alternativa3 }} </br>
            <br> {{ question.alternativa4 }} </br>
            <br> O gabrito dessa questão é letra {{ question.gabarito }} <br>
        </fieldset>
        <input type="submit" value="Início">
        </form>
</body>


