<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title style="font-family: Calibri">PAPER</title>
</head>
<h1 style="font-family: Calibri">Confira a resposta da sua questão</h1>

<div style="margin:20px 40px 20px 40px; background-color:rgb(253, 166, 246)">
    <p>
        <ul>
            <form action="/">
                {% csrf_token %}
                <fieldset>
                    <legend>
                        <h1 style="font-family: Calibri">{{ question.question_text }}</h1>
                    </legend>
                    <br style="font-family: Calibri"> {{ question.alternativa1 }} </br>
                    <br style="font-family: Calibri"> {{ question.alternativa2 }} </br>
                    <br style="font-family: Calibri"> {{ question.alternativa3 }} </br>
                    <br style="font-family: Calibri"> {{ question.alternativa4 }} </br>
                    <br style="font-family: Calibri"> <b>O gabarito dessa questão é letra {{ question.gabarito }}</b> <br/>
                </fieldset>
                <br><br/>
                <input type="submit" value="Voltar ao início" style="font-family: Calibri">
            </form>
        </ul>
    </p>
    <p style="font-family: Calibri; font-size:x-large; text-align:center"> Escolha de Habilidades</p>
    <p style="text-align:center">
        <form action="{% url 'questoes:lista' %}" method="post" style="text-align:center">
            {% csrf_token %}
            <label for="Hab" style="font-family: Calibri"> Escolha uma habilidade para treinar: </label>
            <select id="Hab" name="Hab">
                <option value="EF06MA11: Operações fundamentais e potenciação" selected>EF06MA11: Operações fundamentais e potenciação</option>
                <option value="EF08MA08: Equações de 1º grau">EF08MA08: Equações de 1º grau</option>
                <option value="EM13MAT203: Juros simples e compostos">EM13MAT203: Juros simples e compostos</option>
        <input type="submit" value="Mostrar Questões">
      </select>
            <br><br/>
        </form>
    </p>
</div>

</html>